body {
    font-family: "Lato", sans-serif;
    background-color: rgb(34, 34, 34);
}

.section {
    text-align: center;
    /* font-size: 3em; */
    font-size: 16px;
}

.fp-watermark {
    display: none;
}

#fullpage {
    display: flex;
    flex-direction: column;
    color: #f1f1f1;
}

#container{
    text-align: center;
    align-items: center;
    margin-left: 400px;
    /* overflow-y: hidden; */
    margin: 0 120px 0 500px;
}

/* #section3 {
    background-image: url('https://raw.githubusercontent.com/alvarotrigo/fullPage.js/master/examples/imgs/bg3.jpg');
}

#section4 {
    background-image: url('https://raw.githubusercontent.com/alvarotrigo/fullPage.js/master/examples/imgs/bg4.jpg');
} */

.section {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* overflow:hidden; */
    

    /* text-align: center; */
    /* align-items: center; */
    /* justify-content: center; */
    /* align-items: center; */
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: #fff;
    opacity: 50%;
}

.active span {
    background-color: #901414;
}

#fp-nav ul li .fp-tooltip {
    font-size: 18px;
    top: -4px;
    color: #f1f1f1;
    opacity: 80%;
}


/* Slide1 */
#slide1 {
    margin-bottom: 100px;
}

#slide1 #titleTop {
    font-size: 40px;
    margin: 5px 0;
    font-weight: 600;
}

#slide1 h1 {
    font-size: 96px;
    margin: 0px 0 30px;
    text-align: left;
}

#slide1 p {
    font-size: 20px;
    font-weight: 300;
    /* margin: 0 60px; */
    margin: 0 300px 0 5px;
    line-height: 30px;
    color: #858585;
    text-align: left;
}


.start-btn {
    margin-top: 30px;
    margin-left: 5px;
    float: left;
}

.popup-content {
    padding: 20px 40px 20px 20px;
}

.popup-content h2 {
    margin-top: 5px;
}


#scroll {
    margin-top: 250px;
    position: absolute;
    /* margin: 125px 375px; */
    width: 100%;
}

#scroll h2 {
    font-size: 20px;
    font-weight: 200;
    /* margin-bottom: 0px; */
    color: #A6A6A6;
}

#scroll img {
    width: 26px;
    height: auto;
}

/* Slide 2 */
#slide2 h2 {
    font-size: 98px;
    margin: 0;
    color: #901414;
}

#slide2 h3 {
    font-size: 32px;
    color: #484848;
}


/* Slide 3 */
#slide3 {
    margin: 0 0 0 -100px;
}

#slide3 #introImages {
    display: flex;
    justify-content: left;
    margin-bottom: 30px;
}

#slide3 img {
    height: 250px;
    width: auto;
    border-radius: 15px;
}

#slide3 #car {
    margin-left: 25px;
}

#slide3 .patientInfo {
    display: flex;
    font-size: 20px;
    /* justify-content: space-between; */
}

#slide3 .patientInfo h2 {
    font-size: 24px;
}

#slide3 .patientInfo p {
    font-size: 18px;
    margin-left: 50px;
    text-align: left;
    line-height: 30px;
}

#slide3 #name p {
    margin-left: 62px;
}

#slide3 #age p {
    margin-left: 82px;
}

/* Slide 4 */
#slide4 h2 {
    font-size: 40px;
    margin-bottom: 50px;
}

#slide4 p {
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 30px;
    color: #aeaeae;
}

#slide4 .description {
    text-align: left;
}


/* Slide 5 */
#slide5 h2 {
    font-size: 40px;
    margin-bottom: 50px;
}

#slide5 p {
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 30px;
    color: #aeaeae;
}

#slide5 .description {
    text-align: left;
}


/* Slide 6 */
#slide6 h2 {
    font-size: 40px;
    margin-bottom: 50px;
}

#slide6 p {
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 30px;
    color: #aeaeae;
}

#slide6 .description {
    text-align: left;
}


/* Slide 7 */
#slide7 h2 {
    font-size: 40px;
    margin-bottom: 50px;
}

#slide7 p {
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 30px;
    color: #aeaeae;
}

#slide7 .description {
    text-align: left;
}


/* Sidebar */
.sidebar {
    height: 100%;
    width: 400px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    /* overflow-x: hidden; */
    padding-top: 10px;
}

.sidebar #monitorContainer h2, #supplyDemand h2 {
    padding: 8px 8px 8px 32px;
    margin: 5px 0;
    text-decoration: none;
    font-size: 25px;
    color: #e4e4e4;
    display: block;
    transition: 0.3s;
    font-weight: 400;
}

.sidebarContent {
    display: flex;
    justify-content: space-between;
}


/* .sidebar h2:hover {
    color: #f1f1f1;
} */

/* Heart Rate Monitor */
#monitorContainer {
    margin-bottom: 20px;
}

#patientMonitor {
    background-color: #202020;
    color: #c7c7c7 ;
    width: 350px;
    height: auto;
    margin-left: 25px;
    padding: 1px 15px 15px;
    border-radius: 8px;
}

#patientMonitor #beat {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

#heartRate {
    display: flex;
    justify-content: space-between;
}

#condition {
    font-size: 14px;
    color: #6b6b6b;
    margin: -5px 0 5px 0;
}

#patientMonitor p {
    margin: 5px 0 15px;
}




/* Slider */
#slider {
    background-color: #202020;
    color: #c7c7c7 ;
    width: 350px;
    height: auto;
    margin-left: 25px;
    padding: 1px 15px 1px;
    border-radius: 8px;
}

#slider #nprDemo {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.slidecontainer {
    width: 100%;
    margin-top: 10px;
}

.slidecontainer p {
    margin: 15px 0;
}

#slider .sidebarContent h3 {
    margin: 15px 0 0 0;
}

#nprDemo {
    margin-top: 20px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 8px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 25px;
    border-radius: 8px;
    background: #1073be;
    cursor: pointer;


    /* width: 25px;
    height: 25px;
    border-radius: 50%; */
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}



/* Footer */
footer {
    padding: 80px;
    position: absolute;
    z-index: 0;
    font-size: 2.3em;
    margin-left: 400px;
}

footer h2 {
    margin-bottom: 1.5em;
}

footer h3 {
    font-size: 1em;
}


.library {
    margin-bottom: 40px;
}

* {
    box-sizing: border-box;
}

.item {
    width: 600px;
    height: auto;
    margin: 50px auto;
    /* padding-top: 75px; */
    /* background: #ccc; */
    /* text-align: center; */
    color: #FFF;
    font-size: 3em;
}

/* Pop-up */
.start-btn {
    background-color: #363636;
    color: white;
    border: none;
    padding: 15px 25px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 20px;
}

.popup {
    display: none;
    position: absolute;
    width: calc(100% - 40px);
    background-color: #ecf0f1;
    color: #2c3e50;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 4px;
    z-index: 1000;
    text-align: left;
}

.popup-content {
    padding: 20px;
}

.popup h2 {
    color: #111;
}

.close-btn {
    float: right;
    font-size: 24px;
    cursor: pointer;
}


/* chart.js */
/* #myChart {
    background-color: #2e2e2e;
    padding: 30px;
} */